* {
    /*background-color: darkcyan;*/
}

body {
    background-color: darkturquoise;
    padding: 0 15px;
}

.App {
    /*background-color: darkcyan;*/

}

.hw3 {
    /*background-color: darkcyan;*/
}

.hw5 {
    /*background-color: darkcyan;*/
    height: 100vh;
}
