.wrapper {
    display: flex;
    margin-top: 50px;
    width: 500px;
    background-color: #262626;
    position: relative;
}

.inner {
    display: flex;
}
.message {
    position: relative;
    background-color: #ff3c1c;
    width: 372px;
    min-height: 125px;
    position: relative;
    margin: 5px 0 20px 125px;
}

.message::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: -25px;
    background-color: #ff3c1c;
    border-top-left-radius: 30px;
}

.message::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: -25px;
    background-color: #262626;

}

.message::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: -25px;
    background-color: #262626;
    border-bottom-right-radius: 30px;
    z-index: 2;
}

.message::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: -25px;
    background-color: #262626;
    border-bottom-right-radius: 30px;
    z-index: 2;
}

.img {
    position: absolute;
    bottom: 28px;
    left: 10px;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 30px;
}

.name,
.text {
    margin-left: 5px;
}
.name{
    font-weight: 700;
}
.text {
    margin-top: 15px;
}

.time {
    position: absolute;
    bottom: 0px;
    right: 5px;
}