.someClass {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button{
    margin-top: 15px;
    border-radius: 7px;
}
.span{
    font-size: 24px;
    font-weight: 600;
}
.error {
    border: 1px solid red;
}

.active {
    border: 1px solid black;
}

.errorText {
    color: red;
}
